#	
#	This file is part of WX4AKQ Offline Tools
#	
#	Copyright (c) 2015-19, Steve Crow, Reid Barden
#	Licensed under the BSD 2-clause “Simplified” License
#	
#	For license information, see the LICENSE.md file or visit
#	http://wx4akq.org/software
#	

queue/*
data/*
files/*
!data/.htaccess
!files/.htaccess
.vagrant
config.xml
build/*
gh-pages/
.DS_Store
