#	
#	This file is part of WX4AKQ Offline Tools
#	
#	Copyright (c) 2015-19, Steve Crow, Reid Barden
#	Licensed under the BSD 2-clause “Simplified” License
#	
#	For license information, see the LICENSE.md file or visit
#	http://wx4akq.org/software
#	

Options -Indexes
RedirectMatch 404 /\.git

AuthType Basic
AuthName "WX4AKQ API Authentication"

# Edit and un-comment the two lines below when enabling multi-user mode.  See README.md
#AuthUserFile /full/path/to/.htpasswd
#Require valid-user
